body{
    box-sizing: border-box;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}
.topo{
    background-color: rgb(255, 255, 255);
    /* padding: 5px; */
}
.banner-1{
    background-image: url('../assets/images/img-1.jpg');
   /*  background-attachment: scroll; */
    background-size:cover;
    max-width: 100vw;
    height: 100vh;
    color: #fff;
    box-shadow: 5px 5px 10px #000;
}
.banner-1 h2{
    color: #fff;
    
}
.secao-2{
    background-color: blueviolet;
}

.carrossel{
    width: 100%;
    height: 80%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #000;
}
.planos{
    display: flex;
    justify-content: start ;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px;
    
}
.plano{     
    padding: 5px; 
    box-shadow: 2px 2px 5px #000; 
    background-color: #e66767; 
    border-radius: 5px;  
    margin: 10px;

}
.plano h3{
    border: 1px solid blueviolet;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    background-color:blueviolet;
}
.plano span{
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    background-color:rgb(50, 238, 44);
}
.plano img{
  width: 60%;  
  align-self: center;

}

.plano ul{
    list-style: none;
    padding: 10px;
}

.plano ul li{
    font-size: 1.1rem;
    margin: 10px;
    font-family: sans-serif;
}

footer{
    padding: 20px;
    background-color: #fff;
}
.rodape p{
    font-size: 1.3rem;
    color: blueviolet;
    text-align: center;
}

.botao{
    border: 1px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    background-color:blueviolet;
}

.titulo{
    color: #fff;
    font-size: 1.5;
    margin: 5px;
    padding: 5px;
}