body{
    box-sizing: border-box;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}
.topo{
    background-color: rgb(255, 255, 255);
    /* padding: 5px; */
    color: chartreuse;
}
.menu{
  font-size: 1.3rem;  
}
.banner-1{
    display: flex;
    justify-content: center;
}

.banner-1 img{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #000;
   /*  background-image: url('../assets/images/banner-topo.jpg');  */
} 


.secao-2{
    background-color: blueviolet;
}

.carrossel{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #000;
}
.planos{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    
}
.plano{ 
    box-shadow: 2px 2px 5px #000; 
    background-color: #ffffff; 
    border-radius: 5px; 
    flex-wrap: wrap;
    /* width: 20vw; */ 
    margin: 5px;
    padding: 10px;

}
.plano h3{
    border: 1px solid blueviolet;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    background-color:blueviolet;
}
.plano span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 2px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 600;
    background-color:rgb(50, 238, 44);
}
.plano img{
  width: 60%;  
  align-self: center;

}

.plano ul{
    list-style: none;
    padding: 10px;
}

.plano ul li{
    font-size: 1.1rem;
    margin: 10px;
    font-family: sans-serif;
}

.box{
    display: flex;
    justify-content: space-around;   
   
}
.pix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    background-color: #ffffff;
    margin: 10px;
}
.pix img{
    width: 30%;
}
.pix .form{
    margin: 20px;
}
.pix ul{
    list-style: none;
}
.pix ul li{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(253, 132, 33);
}

footer{
    padding: 20px;
    background-color: #fff;
}
.rodape p{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.botao{
    border: 1px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    background-color:blueviolet;
}

.titulo{
    color: #fff;
    font-size: 1.9rem;
    margin: 5px;
    padding: 5px;
}
.botao a{
    font-size: 1.1rem; 
    color: #fff;   
    text-decoration: none;

}
.botao a:hover{
    color: #000000;
    text-decoration: none;

}

.myModal{
    margin-top: 20px;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }  
    .pix{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #000;
        margin: 10px;
        padding: 10px;
        font-size: 0.5rem;
    } 
    .pix img{
        width: 30%;
    }
    .pix ul li{
        text-align: center;
        font-size: 1.5rem;
    } 
}